@using Runas_Explosivas.Models;
@{
    ViewBag.Title = "Administración";
    ViewBag.HeaderText = ".admin";
    ViewBag.HeaderGlyph = "glyphicon glyphicon-tower";
}
<div class="container-fluid bottom-pad">
    <div class="main z-depth-1 row">

        @* SECCIÓN PARA AGREGAR ARTÍCULOS *@

        <div class="admin-subpage" id="escribir-articulo">
            <h3>Crear artículo</h3>

            <form method="post" action="@Url.Action("CrearArticulo", "Admin")" enctype="multipart/form-data">
                
                @* TITULO *@      
                
                <div class="form-group">
                    <label for="inputTitulo">Título</label>
                    <input type="text" class="form-control" name="inputTitulo" placeholder="Acá va el título">
                </div>

                @* AUTORES *@

                <div class="form-group">
                    <label for="inputAutores">Autor o autores</label>
                    <input type="text" class="form-control inputAutores" name="inputAutores" value="@(((Usuario)Session["Usuario"]).Mail)" readonly>
                    <p class="help-block">Acá se muestra la lista completa de autores que se va a enviar. </p>
                </div>
                <div class="form-group">
                    <div class="input-group" style="width: 60%">
                        <input type="text" class="form-control" placeholder="ingresá un único autor, por su mail" />
                        <div class="input-group-addon inverted-secondary boton-agregar-contenido"><a><span class="glyphicon glyphicon-plus-sign"></span></a></div>
                    </div>
                    <p><small><b>Listado de autores posibles con su mail</b></small></p>
                    <ul>
                        @foreach (Usuario Autor in ViewBag.Autores)
                        {
                            <li><small>@Autor.Nombre: @Autor.Mail</small></li>
                        }
                    </ul>
                </div>
                <div class="btn-group">
                    <button class="btn btn-default boton-reset-autores" type="button" data-autor="default">Resetear los autores</button>
                    <button class="btn btn-default boton-reset-autores" type="button" data-autor="runasexplosivas@gmail.com"><small>Runas Explosivas como autor</small></button>
                </div>

                @* TAGS *@

                <div class="form-group">
                    <label for="inputTags">Tags</label>
                    <input type="text" class="form-control" name="inputTags" placeholder="Acá va la lista de tags completa a enviar. Completá el campo debajo mío y apretá +" readonly />
                </div>
                <div class="form-group">
                    <div class="input-group" style="width: 60%">
                        <input type="text" class="form-control" placeholder="ingresá un único tag, no de a varios" />
                        <div class="input-group-addon inverted-secondary boton-agregar-contenido"><a><span class="glyphicon glyphicon-plus-sign"></span></a></div>
                    </div>
                </div>
                <button class="btn btn-default boton-reset-contenido" type="button">Resetear los tags</button>

                @* LINK *@

                <div class="form-group">
                    <label for="inputLink">Link</label>
                    <input type="text" class="form-control" name="inputLink" placeholder="Si el artículo es un podcast, agregá acá el link al EMBED de youtube"/>
                </div>

                @* IMAGEN *@

                <div class="form-group">
                    <label for="inputImagen">Imagen</label>
                    <input type="file" class="form-control" name="inputImagen" />
                    <p class="help-block">El aspect-ratio de la imagen debe ser de 23:12, y para que quepa correctamente en el carrusel, la misma debe tener al menos 920 píxeles de ancho.</p>
                </div>

                @* TEXTO *@

                <div class="row">
                    <hr class="z-depth-1 inverted" />
                    <div class="form-group col-xs-12">
                        <label for="inputTexto">Contenido del artículo. Seguí scrolleando para saber cómo agregar subtítulos y links</label>
                        <textarea class="form-control" name="inputTexto" placeholder="Acá va el texto" rows="10" cols="6"></textarea>
                    </div>
                </div>
                <button class="btn btn-primary z-depth-1" type="submit">Crear artículo!</button>
            </form>
        </div>
        <div class="row admin-subpage" id="editar-articulo"></div>
        <div class="row admin-subpage" id="eliminar-articulo"></div>
        <div class="row admin-subpage" id="crear-producto"></div>
        <div class="row admin-subpage" id="editar-producto"></div>
        <div class="row admin-subpage" id="eliminar-producto"></div>
        <div class="row admin-subpage" id="gestion-compras"></div>
        <div class="row admin-subpage" id="moderar-comentarios"></div>
        <div class="row admin-subpage" id="moderar-resenhas"></div>
        <div class="row admin-subpage" id="admin-usuarios"></div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom inverted-secondary z-depth-2" id="admin-navbar">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-admin" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand fuenteRE black-font" id="logoRE" href="@Url.Action("Index", "Home")">R.E.</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-admin">
            <ul class="nav navbar-nav black-font">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Artículos/Podcasts <span class="glyphicon glyphicon-chevron-down"></span></a>
                    <ul class="dropdown-menu black-font">
                        <li><a class="boton-display" data-display="#escribir-articulo">Crear artículo nuevo</a></li>
                        <li><a class="boton-display">Editar artículo</a></li>
                        <li><a class="boton-display">Eliminar artículo</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Editorial <span class="glyphicon glyphicon-chevron-down"></span></a>
                    <ul class="dropdown-menu black-font">
                        <li><a class="boton-display">Compras</a></li>
                        <li><a class="boton-display">Crear producto</a></li>
                        <li><a class="boton-display">Editar producto</a></li>
                        <li><a class="boton-display">Eliminar producto</a></li>

                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Moderación <span class="glyphicon glyphicon-chevron-down"></span></a>
                    <ul class="dropdown-menu black-font">
                        <li><a class="boton-display">Moderar comentarios</a></li>
                        <li><a class="boton-display">Moderar reseñas</a></li>
                    </ul>
                </li>
                <li><a class="boton-display" href="#">Administrar Usuarios</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>