@using Runas_Explosivas.Models;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    Usuario Usuario = (Usuario)Session["Usuario"];
}
<div class="container-fluid bottom-pad">
    @RenderBody()


    <!-- BARRA LATERAL PARA BÚSQUEDAS, LOGIN Y SELECCIÓN DE TAGS -->

    <div id="barra-lateral" class="col-md-2 col-xs-1 z-depth-2 inverted-light">
        <span class="icono-expandir-barra glyphicon glyphicon-plus visible-xs visible-sm" id="boton-expandir-barra"></span>
        <div id="barra-lateral-contenido">

            <!-- WIDGET DEFAULT-->

            <div id="barra-lateral-widget-default">
                widget default
            </div>

            <!-- WIDGET DE CARRITO DE COMPRAS -->

            <div class="barra-lateral-widget" id="carrito-compras">
                <h5>Carrito de compras</h5>
            </div>

            <!-- WIDGET DE USUARIO-->

            <div class="barra-lateral-widget" id="usuario">
                @if (Session["Usuario"] == null)
                { 
                    <form id="form-inicio-sesion" method="post" action="@Url.Action("Login","Usuario")">
                        <h4>Iniciar sesión</h4>
                        <div class="form-group">
                            <label for="inputEmail" class="sr-only">Dirección de email</label>
                            <input type="email" name="inputEmail" class="form-control" placeholder="amoelrol@dand.com" required autofocus>
                        </div>
                        <div class="form-group">
                            <label for="inputContraseña" class="sr-only">Contraseña</label>
                            <input type="password" name="inputPassword" class="form-control" placeholder="*******" required>
                        </div>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Ingresar</button>
                    </form>
                    <a class="btn btn-lg btn-info btn-block" id="boton-registro" href="@Url.Action("Index", "Usuario")">Registrate!</a>
                } else
                {
                    <h4>@Usuario.Nombre</h4>
                    <h5>Notificaciones: <span class="badge">42</span></h5>
                    <a class="btn btn-lg btn-info btn-block" href="@Url.Action("CerrarSesion", "Usuario")">Cerrar sesión</a>
                }
            </div>

            <!-- WIDGET DE REGISTRO DE USUARIO NUEVO -->

            <div class="barra-lateral-widget" id="registro">
                <form id="form-registro">
                    <h4>Usuario nuevo</h4>
                    <div class="form-group">
                        <label for="inputEmail" class="sr-only">Dirección de email</label>
                        <input type="email" id="inputEmail" class="form-control" placeholder="amoelrol@dand.com" required autofocus>
                    </div>
                    <div class="form-group">
                        <label for="inputContraseña" class="sr-only">Contraseña</label>
                        <input type="password" id="inputPassword" class="form-control" placeholder="*******" required>
                    </div>
                    <div class="form-group">
                        <label for="inputContraseña" class="sr-only">Repetir contraseña</label>
                        <input type="password" id="inputPassword" class="form-control" placeholder="*******" required>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value=""> I'm not a robot
                        </label>
                    </div>
                    <button class="btn btn-lg boton-lateral btn-primary btn-block" type="submit">Registrate!</button>
                </form>

            </div>

            <!-- WIDGET DE BÚSQUEDA-->

            <div class="barra-lateral-widget" id="busqueda">
                <form id="form-busqueda">

                    <div class="form-group">
                        <label for="ValorABuscar">Buscar artículos:</label>
                        <input type="text" class="form-control" name="ValorABuscar">
                    </div>
                    <h5>Buscar por...</h5>
                    <div class="form-group">
                        <div class="radio">
                            <label><input type="radio" name="TipoDeBusqueda" value="Titulo" checked>título</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="TipoDeBusqueda" value="Autor">autor</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="TipoDeBusqueda" value="Tag">tags</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <input class="btn btn-info" type="submit" value="Buscar">
                    </div>
                </form>
            </div>

            <!-- WIDGET DE BÚSQUEDA REALIZADA O EN PROCESO -->

            <div class="barra-lateral-widget" id="busqueda-realizada">
                <h4>Los siguientes artículos corresponden con los parámetros de la búsqueda:</h4>

            </div>

        </div> <!-- fin de div barra-lateral-contenido -->
    </div> <!-- fin de div barra lateral-->
    <!-- BOTONERA DE LOGIN Y BÚSQUEDA -->

    <div id="botonera">
        @if (ViewBag.BtnUsuario != null && ViewBag.BtnUsuario)
        {
            <button id="boton-usuario" class="btn @ViewBag.Btn btn-primary boton-lateral z-depth-3" data-target="#usuario" type="submit">
                <span class="glyphicon glyphicon-user"></span>
            </button>
        } 
        @if (ViewBag.BtnCarrito != null && ViewBag.BtnCarrito)
        {
            <button id="boton-compras" class="btn @ViewBag.Btn btn-primary boton-lateral z-depth-3" data-target="#carrito-compras" type="submit"><span class="glyphicon glyphicon-shopping-cart"></span></button>
        }
        @if (ViewBag.BtnBuscar != null && ViewBag.BtnBuscar)
        {
            <button id="boton-busqueda" class="btn @ViewBag.Btn btn-info boton-lateral z-depth-3" data-target="#busqueda" type="submit"><span class="glyphicon glyphicon-search"></span></button>
        }
    </div>
</div> <!-- fin de container-fluid -->