@using Runas_Explosivas.Models;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    Usuario Usuario = (Usuario)Session["Usuario"];
    List<ProductoEnCarrito> Carrito = (List<ProductoEnCarrito>)Session["Carrito"];
}
@if (ViewBag.Title == "Editorial")
{
    @section scripts{
        <script src="~/Scripts/Editorial.js"></script>
    }
}

<div class="container-fluid bottom-pad">

    @RenderBody()


    <!-- BARRA LATERAL PARA BÚSQUEDAS, LOGIN Y SELECCIÓN DE TAGS -->

    <div id="barra-lateral" class="col-md-2 col-xs-1 z-depth-2 inverted-light">
        <span class="icono-expandir-barra glyphicon glyphicon-plus visible-xs visible-sm" id="boton-expandir-barra"></span>
        <div id="barra-lateral-contenido">

            <!-- WIDGET DEFAULT-->

            <div id="barra-lateral-widget-default">
                widget default
            </div>

            <!-- WIDGET DE CARRITO DE COMPRAS -->

            <div class="barra-lateral-widget" id="carrito-compras">
                <h4>Carrito de compras</h4>
                <ul id="lista-carrito">
                    @if (Carrito != null && Carrito.Count() > 0)
                    {
                        foreach (ProductoEnCarrito Producto in Carrito)
                        {
                            <li data-product="@Producto.Producto.ID">
                                @(Producto.Producto.Titulo.Substring(0, 8))...<b class="light-gray">x@(Producto.Cantidad): $@(Producto.Producto.Precio * Producto.Cantidad)</b>
                                <button class="btn btn-xs btn-default boton-quitar-de-carrito" type="button">
                                    <span class="glyphicon glyphicon-minus"></span>
                                </button>
                            </li>
                        }
                    }
                    else
                    {
                        <li>Todavía no agregaste nada al carrito</li>
                    }
                </ul>
                <a href="@Url.Action("Checkout", "Editorial")" class="btn btn-block btn-primary" id="boton-checkout">Confirmar compra</a>
                <button class="btn btn-block btn-default" id="boton-vaciar-carrito">Vaciar</button>
            </div>

            <!-- WIDGET DE USUARIO-->

            <div class="barra-lateral-widget" id="usuario">
                @if (Session["Usuario"] == null)
                {
                    <form id="form-inicio-sesion" method="post" action="@Url.Action("Login","Usuario")">
                        <h4>Iniciar sesión</h4>
                        <div class="form-group">
                            <label for="inputEmail" class="sr-only">Dirección de email</label>
                            <input type="email" name="inputEmail" class="form-control" placeholder="amoelrol@dand.com" required autofocus>
                        </div>
                        <div class="form-group">
                            <label for="inputContraseña" class="sr-only">Contraseña</label>
                            <input type="password" name="inputPassword" class="form-control" placeholder="*******" required>
                        </div>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Ingresar</button>
                    </form>
                    <a class="btn btn-lg btn-info btn-block" id="boton-registro" href="@Url.Action("Index", "Usuario")">Registrate!</a>
                }
                else
                {
                    <h4>@Usuario.Nombre</h4>
                    <h5>Notificaciones: <span class="badge">42</span></h5>
                    if (Session["DatosDeEnvio"] == null)
                    {
                        <p>Todavía no tenemos tus datos de envío, para cuando hagas tu primera compra en la tienda.</p>
                        <b><a class="secondary-color" href="@Url.Action("DatosDeEnvio", "Usuario")">¿Querés completarlos ahora?</a></b>
                    }
                    <a class="btn btn-info btn-block margin-top" id="boton-cierre-sesion" href="@Url.Action("CerrarSesion", "Usuario")">Cerrar sesión</a>
                }
            </div>

            <!-- WIDGET DE BÚSQUEDA-->

            <div class="barra-lateral-widget" id="busqueda">
                <form id="form-busqueda">

                    <div class="form-group">
                        <label for="ValorABuscar">Buscar artículos:</label>
                        <input type="text" class="form-control" name="ValorABuscar">
                    </div>
                    <h5>Buscar por...</h5>
                    <div class="form-group">
                        <div class="radio">
                            <label><input type="radio" name="TipoDeBusqueda" value="Titulo" checked>título</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="TipoDeBusqueda" value="Autor">autor</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="TipoDeBusqueda" value="Tag">tags</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <input class="btn btn-info" type="submit" value="Buscar">
                    </div>
                </form>
            </div>

            <!-- WIDGET DE BÚSQUEDA REALIZADA O EN PROCESO -->

            <div class="barra-lateral-widget" id="busqueda-realizada">
                <h4>Los siguientes artículos corresponden con los parámetros de la búsqueda:</h4>
                <ul></ul>
                <button class="btn btn-sm btn-info" type="button">Nueva búsqueda</button>
            </div>

        </div> <!-- fin de div barra-lateral-contenido -->
    </div> <!-- fin de div barra lateral-->
    <!-- BOTONERA DE LOGIN Y BÚSQUEDA -->

    <div id="botonera">
        @if (ViewBag.BtnUsuario != null && ViewBag.BtnUsuario)
        {
            <button id="boton-usuario" class="btn @ViewBag.Btn btn-primary boton-lateral z-depth-3" data-target="#usuario" type="submit">
                <span class="glyphicon glyphicon-user"></span>
            </button>
        }
        @if (ViewBag.BtnCarrito != null && ViewBag.BtnCarrito)
        {
            <span class="glyphicon glyphicon-arrow-down" id="signo-atencion-carrito"></span>
            <button id="boton-compras" class="btn @ViewBag.Btn btn-primary boton-lateral z-depth-3" data-target="#carrito-compras" type="submit"><span class="glyphicon glyphicon-shopping-cart"></span></button>
        }
        @if (ViewBag.BtnBuscar != null && ViewBag.BtnBuscar)
        {
            <button id="boton-busqueda" class="btn @ViewBag.Btn btn-info boton-lateral z-depth-3" data-target="#busqueda" type="submit"><span class="glyphicon glyphicon-search"></span></button>
        }
    </div>
</div> <!-- fin de container-fluid -->