@using Runas_Explosivas.Models;
@{
    Layout = "~/Views/Shared/_Barra Lateral.cshtml";
}


<div id="display-articulos" class="main">
    <p class="articulo-info alineado-derecho">@ViewBag.Articulo.Fecha.ToString(@"dd\/MM\/yyyy")</p>   
    <h2>@ViewBag.Articulo.Titulo</h2>
    <div class="row">
        <div class="col-md-6">
            <p class="articulo-info">@ViewBag.Articulo.GetAllAutores()</p>
        </div>
        <div class="col-md-6">
            <p class="articulo-info alineado-derecho">@ViewBag.Articulo.AllTags</p>
        </div>
    </div>
    <hr class="inverted z-depth-1" id="separador-header">
    
    @if (ViewBag.Articulo.SearchTag("podcast"))
    {
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/y-GIvQAsn6w" allowfullscreen></iframe>
        </div>
    }

    <div class="cuerpo-articulo">
        @ViewBag.Articulo.Texto
    </div>
    <button class="btn btn-lg btn-primary z-depth-2" data-toggle="tooltip" data-placement="right" title="Querés ver los comentarios?" id="boton-comentarios" type="button"><span class="glyphicon glyphicon-comment"></span></button>
    <hr class="inverted z-depth-1" id="separador-footer">
    <div class="well-sm inverted-extra-light" id="lista-comentarios">
        <ul>
            @if (ViewBag.Comentarios != null)
            {
                foreach (ComentarioEnArticulo Comentario in ViewBag.Comentarios)
                {
                    <li class="comentario comentario-nested-@Comentario.NivelDeDerivacion">
                        <h4>@Comentario.Autor.Nombre <span><small><i class="dark-gray">@Comentario.Fecha.ToString(@"dd\/MM\/yyyy HH:mm")</i></small></span></h4>
                        <p>@Comentario.Texto</p>
                    </li>
                }
            }
            @if (ViewBag.Comentarios.Count == 0)
            {
                <li class="comentario">No hay comentarios por el momento. ¿Querés ser el primero?</li>
            }
        </ul>
    </div>
</div> <!-- fin de display articulos -->
