@using Runas_Explosivas.Models;
@{
    Layout = "~/Views/Shared/_Barra Lateral.cshtml";
    ViewBag.Btn = "btn-lg";
    ViewBag.BtnUsuario = " ";
    ViewBag.BtnBuscar = "main-section=true";
    ViewBag.BtnCarrito = "";
}


<div id="display-articulos" class="main">
    @Html.Partial("~/Views/Shared/_Avisos.cshtml")
    <p class="articulo-info alineado-derecho">@ViewBag.Articulo.Fecha.ToString(@"dd\/MM\/yyyy")</p>   
    <h2>@ViewBag.Articulo.Titulo</h2>
    <div class="row">
        <div class="col-md-6">
            <p class="articulo-info">@ViewBag.Articulo.GetAllAutores()</p>
        </div>
        <div class="col-md-6">
            <p class="articulo-info alineado-derecho">@ViewBag.Articulo.AllTags</p>
        </div>
    </div>
    @if (ViewBag.Articulo.SearchTag("podcast"))
    {
        <div class="embed-responsive embed-responsive-16by9" id="link-podcast">
            <iframe   width="280" height="158" class="embed-responsive-item" src="@ViewBag.Articulo.LinkYouTubeEmbed"  frameborder="0" allowfullscreen></iframe>
        </div>
    }
    <hr class="inverted z-depth-1" id="separador-header">
    <div class="cuerpo-articulo">@ViewBag.Articulo.Texto</div>
    @if (!String.IsNullOrWhiteSpace(ViewBag.Articulo.Imagen))
        {
            <img class="img-responsive img-rounded" src="@Url.Content(ViewBag.Articulo.ImagenFullPath)" />
        }
    <button class="btn btn-lg btn-primary z-depth-2" data-toggle="tooltip" data-placement="right" title="Querés ver los comentarios?" id="boton-comentarios" type="button"><span class="glyphicon glyphicon-comment"></span></button>
    <hr class="inverted z-depth-1" id="separador-footer">
    <div class="well-sm inverted-extra-light" id="lista-comentarios" data-ID="@ViewBag.Articulo.ID">
        <ul>
            @if (ViewBag.Comentarios.Count > 0)
            {
                foreach (ComentarioEnArticulo Comentario in ViewBag.Comentarios)
                {
                    <li class="comentario comentario-nested-@Comentario.NivelDeDerivacion" data-ID="@Comentario.ID">
                        <h4>@Comentario.Autor.Nombre 
                        <span><small><i class="dark-gray">@Comentario.Fecha.ToString(@"dd\/MM\/yyyy HH:mm ")</i>
                            @if ((Usuario)Session["Usuario"] != null)
                            {
                                <a href="#" class="boton-agregar-comentario" data-toggle="tooltip" data-placement="top" title="Responder a este comentario"><span class="fa fa-reply"></span></a>
                            }
                            </small></span></h4>
                        <p>@Comentario.Texto</p>
                    </li>
                }
            } else
            {
                <li class="comentario">No hay comentarios por el momento. ¿Querés ser el primero?</li>
            }
        </ul>
        @if ((Usuario)Session["Usuario"] != null)
        {
            <button class="btn btn-info btn-lg boton-agregar-comentario" type="submit">Comentar artículo</button>
        }
    </div>
</div> <!-- fin de display articulos -->
