@{
    Layout = "~/Views/Shared/_Barra Lateral.cshtml";
}


<div id="display-articulos" class="main">
    <p class="articulo-info alineado-derecho">@ViewBag.Articulo.Fecha.ToString(@"dd\/MM\/yyyy")</p>   
    <h2>@ViewBag.Articulo.Titulo</h2>
    <div class="row">
        <div class="col-md-6">
            <p class="articulo-info">autor: @ViewBag.Articulo.Autor.Nombre</p>
        </div>
        <div class="col-md-6">
            <p class="articulo-info alineado-derecho">@ViewBag.Articulo.Tags.Nombre</p>
        </div>
    </div>
    <hr class="inverted z-depth-1" id="separador-header">
    <div class="cuerpo-articulo">
        @ViewBag.Articulo.Texto
    </div>
    <button class="btn btn-lg btn-primary z-depth-2" data-toggle="tooltip" title="Querés ver los comentarios?" id="boton-comentarios" type="button"><span class="glyphicon glyphicon-comment"></span></button>
    <hr class="inverted z-depth-1" id="separador-footer">
    <div class="well-sm inverted-extra-light" id="lista-comentarios">
        <ul>
            <li class="comentario comentario-nested-0">
                <h4>Peperino Pómoro <span ><small><i class="dark-gray">14/12/1989 15hs</i></small></span></h4> 
                <p>Creo que la nueva edición de D&D es una vergüenza, ya no se lo puede considerar un juego de rol. Gracias.</p>
            </li>
            <li class="comentario comentario-nested-1">
                <h4>Peperino Pómoro <span><small><i class="dark-gray">14/12/1989 15hs</i></small></span></h4>
                <p>Creo que la nueva edición de D&D es una vergüenza, ya no se lo puede considerar un juego de rol. Gracias.</p>
            </li>
            <li class="comentario comentario-nested-2">
                <h4>Peperino Pómoro <span><small><i class="dark-gray">14/12/1989 15hs</i></small></span></h4>
                <p>Creo que la nueva edición de D&D es una vergüenza, ya no se lo puede considerar un juego de rol. Gracias.</p>
                <!--<button class="btn btn-xs pull-right"><small><b><i class="dark-gray">.responder</i></b></small></button>-->
            </li>
            <li class="comentario comentario-nested-3">
                <h4>Peperino Pómoro <span><small><i class="dark-gray">14/12/1989 15hs</i></small></span></h4>
                <p>Creo que la nueva edición de D&D es una vergüenza, ya no se lo puede considerar un juego de rol. Gracias.</p>

            </li>
        </ul>
    </div>
</div> <!-- fin de display articulos -->
