@using Runas_Explosivas.Models;
@{
    Layout = "~/Views/Shared/_Barra Lateral.cshtml";
    ViewBag.Title = "Blog";
    ViewBag.Btn = "btn-lg";
    ViewBag.BtnUsuario = true;
    ViewBag.BtnBuscar = true;
    ViewBag.BtnCarrito = false;
    ViewBag.HeaderText = ".blog ";
    ViewBag.HeaderGlyph = "glyphicon glyphicon-pencil";
}


<!-- DISPLAY ARTÍCULOS.PRINCIPAL -->
<div class="main z-depth-1 row">
    @Html.Partial("~/Views/Shared/_Avisos.cshtml")
    <div id="display-articulos">
        <div class="row articulo" data-id="@ViewBag.Articulos[0].ID" id="destacado">
            <h3>
                @Html.ActionLink(
                linkText: (string)ViewBag.Articulos[0].Titulo,
                actionName: "Articulo",
                controllerName: "Home",
                routeValues: new
                {
                    blogPostId = (int)ViewBag.Articulos[0].ID
                },
                htmlAttributes: null
                )
                @ViewBag.Articulos[0].AllGlyphHTML()
            </h3>
            <div class="col-md-10">
                <p>@ViewBag.Articulos[0].GetPreviewText(350)</p>
            </div>
        </div> <!-- fin de div articulo-->
        <hr class="inverted z-depth-1">

        <!-- DISPLAY ARTÍCULOS.SECUNDARIOS -->

        <div class="row" id="display-articulos-secundarios">
            @foreach (Articulo articulo in ViewBag.Articulos)
            {
                if (articulo.ID != ViewBag.Articulos[0].ID)
                {
                    <div class="col-md-6 articulo" data-id="@articulo.ID">
                        <h4>
                            @Html.ActionLink(
                            linkText: (string)articulo.Titulo,
                            actionName: "Articulo",
                            controllerName: "Home",
                            routeValues: new
                            {
                                blogPostId = (int)articulo.ID
                            },
                            htmlAttributes: null
                            )
                        @articulo.AllGlyphHTML()
                    </h4>
                    <p class="hidden-xs">@articulo.GetPreviewText(200)</p>
                </div> <!-- fin de row -->
                }
            }
        </div> <!-- fin de row - display articulos secundarios -->
    </div> <!-- fin de display articulos -->
</div> <!-- fin de row main-->