@using Runas_Explosivas.Models;
@{
    ViewBag.Title = "Runas Explosivas";
    ViewBag.HeaderText = "Tu lugar de referencia sobre juegos de rol en Argentina";
    ViewBag.HeaderGlyph = "";
}

<!-- DISPLAY ARTÍCULOS.PRINCIPAL -->


<div class="container-fluid bottom-pad">
    <div class="main z-depth-1 row">
        @if (TempData["Reporte"] != null)
        {
        <div class="alert alert-@((string)TempData["TipoDeReporte"])">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>@((string)TempData["Reporte"])</strong>
        </div>
        }
        <div id="display-articulos">
            <div class="row articulo" data-id="@ViewBag.Articulos[0].ID" id="destacado">
                <h3> @Html.ActionLink(
                linkText: (string) ViewBag.Articulos[0].Titulo,
                actionName: "Articulo",
                controllerName: "Home",
                routeValues: new
                {
                    blogPostId = (int)ViewBag.Articulos[0].ID
                },
                htmlAttributes: null
                ) 
                @ViewBag.Articulos[0].AllGlyphHTML()
                </h3>
                <div class="col-md-10">
                    <p>@ViewBag.Articulos[0].GetPreviewText(300)</p>
                </div>
            </div>
            <hr class="inverted z-depth-1">
            <!-- DISPLAY ARTÍCULOS.SECUNDARIOS -->

            <div class="row" id="display-articulos-secundarios">
                @foreach (Articulo articulo in ViewBag.Articulos)
                {
                    if (articulo.ID != ViewBag.Articulos[0].ID)
                    {
                        <div class="col-md-6 articulo" data-id="@articulo.ID">
                        <h4>@Html.ActionLink(
                            linkText: (string)articulo.Titulo,
                            actionName: "Articulo",
                            controllerName: "Home",
                            routeValues: new
                            {
                                blogPostId = (int)articulo.ID
                            },
                            htmlAttributes: null
                            ) 
                            @articulo.AllGlyphHTML() </h4>
                        <p class="hidden-xs">@articulo.GetPreviewText(200)</p>
                        </div> <!-- fin de row -->
                    }
                }
            </div> 
        </div> <!-- fin de display articulos -->
    </div>
</div>